body{
    font-family:"Philosopher-Regular";
    font-size:large;
    line-height: 1.2;
    margin: auto;
    padding: 0;
    background-color:white;
    justify-content: center;
   

}

@font-face {
  font-family: 'Philosopher-Regular';
  src: url('Philosopher-Regular.ttf');
}

header{
    
    width: 100%;
    background-color: #bb9992;
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
}

h2 {
  color: black;
  transition: 0.3s;
}

h2:hover {
  color: salmon;
  text-shadow: 0 0 10px pink;
}

div{
    
    margin: auto;
    padding: 20px;
    width:fit-content;
}

.checkout-page{
    background-image: url("brownish-pink-bg.png");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}

.ship-container,
.payment-container,
.delivery-container {
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px);          
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 500px; 
    text-align: left;
    gap:15px;
    margin-bottom: 35px;

}


label {     
  font-weight: bold;
  margin: 5px;
}

.info,
input[type="text"],
input[type="tel"],
input[type="month"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

}

.delivery-container div{
    width:300px;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}
    


.delivery-container div:hover{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(254, 182, 182, 0.633);
}

  


label.shipping{
    text-align: left; 
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
}

.radio-container1{
   
    width:300px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.radio-container1:hover{
    width: 300px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(254, 182, 182, 0.633);
}

.radio-container2{
    
    width:300px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.radio-container2:hover{
    width: 300px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(254, 182, 182, 0.633);
}

div.payment-method{
    width: 85%;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e8aeb7;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
   color: rgb(255, 240, 211);
   transform: translateY(-2px);
}

hr.header{
    display: none;
}

hr.footer{
    display:contents;
}

footer{
    text-align: center;
    background-color: #2c272c;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.rights{
    color: rgb(191, 190, 190);
}

.contact{
    font-size: 18px;
    color: #f4dfdb;
    text-align: center;
}

.contact:hover{
    color:darksalmon;
}
